#body{
    text-align: center;
}

h1.white{
    color:white
}

h3.white{
    color:white
}

p.white{
    color:white
}


#header{
    width:755px; 
    height:186px; 
    background-color: rgb(24, 107, 79);
}

#side-container{
    width:250px;
    height:900px;
    background-color: rgb(223, 223, 226);
    /*display: inline-block;*/
    float:left
}

#main-container{
    width:505px;
    height:900px;
    background-color: rgb(255, 255, 255);
    float:left
}

#name-container{
    float:left;
    margin-left: 20px

}

#contact-container{
    float:right;
    margin-right: 20px
}

#skill-container{
    margin-left:20px
}

#certification-container{
    margin-left:20px
}

#education-container{
    margin-left:20px
}

#company-container{
    margin-left:20px;
    margin-right:20px
}

#portfolio-container{
    margin-left:20px;
    margin-right:20px
}

#company-header{
    height:100px
}

#company-project{
    margin-bottom: 30px;
}

img.small-icon{
    width: 20px;
    height: 20px;
    float:left;
    margin-right:10px
}

img.middle-icon{
    width: 30px;
    height: 30px;
    float:left;
    margin-right:10px
}

img.qr-icon{
    width: 50px;
    height: 50px;
    float: right;
    margin-right:20px
}

img.big-icon{
    height: 80%;
    float:right;
    margin-right:10px;
    margin-left: 20px;
    margin-top: 20px;
}

p.right{
    float:right
}

p.left{
    float:left;
    font-weight:bold
}

h3.left{
    float:left
}

h2.grey{
    color:rgb(24, 107, 79);
}
